<div class="container m-3">
  <div class="row">
    <h1 class="p-3 page-title col-md-6">
      {{ pageTitle.toUpperCase() }}
    </h1>
    <div class="d-flex align-items-end">
      <ul class="nav ">
        <li *ngFor="let pageItem of pageItemNavigation" class="nav-item text-white">
         <a class="nav-link min-nav-links">
          {{ pageItem.toUpperCase() }}
         </a>
        </li>
      </ul>
    </div>

  </div>

  <div class="row" *ngFor="let content of pageContent">
    <div class="col p-5 m-3">
      <img
        src="{{ content.imgString }}"
        alt="{{ content.title }}"
        height="345px"
        width="345px"
      />
    </div>
    <div class="col">

      <h1 class="display-2 mt-3">{{ content.title.toUpperCase() }}</h1>
      <p class="content-description mt-3">{{ content.description }}</p>
      <div class="row">
        <div class="col">
          <div class="average-text">AVERAGE DISTANCE</div>
          <div class="content-value">{{ content.distance.toUpperCase() }}</div>
        </div>
        <div class="col">
          <div class="average-text">AVERAGE TIME</div>
          <div class="content-value">{{ content.time.toUpperCase() }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
