<div id="home-container">
  <div class="container">
    <app-navigationbar></app-navigationbar>
    <div class="container mt-5 ">
      <div class="row mb-0 mt-5">
        <div class=" col-md-6 container jumbotron bg-transparent">
          <h3 class="display-4">SO, YOU WANT TO TRAVEL TO</h3>
          <h1 class="display-1">SPACE</h1>
          <p class="lead">
            Let’s face it; if you want to go to space, you might as well genuinely
            go to outer space and not hover kind of on the edge of it. Well sit
            back, and relax because we’ll give you a truly out of this world
            experience! Explore
          </p>
        </div>
        <div class=" col-md-4  d-flex justify-content-center align-self-center">
          <div class="container d-flex justify-content-center align-self-center" id="hero-image">
            <div class="p-5 mt-3 d-flex justify-content-bottom">
              <img src="assets/home/Explore Image.png" alt="Explore Image" height="150px" width="auto" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
