<div id="home-container">
  <div class="container">
    <app-navigationbar></app-navigationbar>
    <div class="container">
      <div class="row">
        <div class=" col-md-4 ">
          <h3>SO, YOU WANT TO TRAVEL TO</h3>
          <h1>SPACE</h1>
          <p>
            Let’s face it; if you want to go to space, you might as well genuinely
            go to outer space and not hover kind of on the edge of it. Well sit
            back, and relax because we’ll give you a truly out of this world
            experience! Explore
          </p>
        </div>
        <div class=" col-md-4 offset-2">
          <div class="container" id="hero-image">
            <img src="assets/home/Explore Image.png" alt="Explore Image" height="150px" width="auto" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
