@import "/src/styles.scss";
#home-container{
  height: 100vh;
  width: 100vw;
}

p {
  font-family: $secondary-font, serif;
  font-weight: 400;
  color: #ffffff;
}

h1 {
  font-family: $primary-font, serif;
  color: $white-color;
}

h3 {
  font-family: $secondary-font;
  color: $white-color;
}


//large screen size (desktop)
@media screen and (min-width: 760px) {
  #home-container {
    overflow-x: hidden;
    overflow-y: hidden;
    background-image: url("/assets/home/background-home-desktop.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

//medium screen size (tablet)
@media screen and (max-width: 600px) {
  #home-container {
    overflow-x: hidden;
    background-image: url("/assets/home/background-home-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
  }
}

//Small screen size (mobile)
@media screen and (max-width: 480px) {
  #home-container {
    overflow-x: hidden;
    background-image: url("/assets/home/background-home-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
