
  <div class="container" id="home-container">
    <app-navigationbar></app-navigationbar>
    <div class="wrapper row">
      <div class="hero-container col">
          <h3>SO, YOU WANT TO TRAVEL TO</h3>
        <h1>SPACE</h1>
        <div class="container col" id="hero-text">
          <p>
            Let’s face it; if you want to go to space, you might as well
            genuinely go to outer space and not hover kind of on the edge of it.
            Well sit back, and relax because we’ll give you a truly out of this
            world experience! Explore
          </p>
        </div>
      </div>
      <div class="hero-image col col-6-lg">
        <div class="container" id="hero-image">
          <img src="assets/home/Explore Image.png" alt="Explore Image" />
        </div>
      </div>
    </div>
  </div>

