@import "/src/styles.scss";

.navigation-number {
  font-size: 20px;
  font-weight: bolder !important;
  color: $white-color;
}
.nav-item {
  padding: 15px;
}
.nav-item:hover {
  background-color: #616476;
  opacity: 1;
  text-decoration: none;
}
.navigation-number,
.navigation-text {
  font-family: $secondary-font, sans-serif;
  color: white;
  text-align: center;
  margin-top: 10%;
  padding: 2px;
}

.navigation-elements {
  -webkit-backdrop-filter: blur(81.55px) brightness(100%);
  backdrop-filter: blur(81.55px) brightness(100%);
  background-color: #ffffff0a;
  width: max-content;
}

.small-rectangle {
  background-color: var(--white);
  height: 3px;
  left: 1;
  opacity: 0.25;
  position: absolute;
  top: 48px;
  width: 120px;
}

