@import '/src/styles.scss';

.navigation-number{
  font-size: 20px;
  font-weight: bolder !important;
  color: $white-color;
}
.nav-item{
  padding: 15px;
}
.nav-item:hover{
  background-color: #616476;
  opacity: 1;
  text-decoration: none;
}
.navigation-number, .navigation-text{
  font-family: $secondary-font, sans-serif;
  color: white;
  text-align: center;
  margin-top: 10%;
  padding: 2px;
}
