<nav role="navigation" class="navbar navbar-expand-sm">
  <div class="container-fluid row">
    <div class="col">
      <a class="navbar-brand" routerLink="/home">
        <img src="/assets/home/space_logo.svg" alt="" width="20em" height="20em" />
      </a>
    </div>
    <button class="navbar-toggler offset-6 d-sm-none" type="button" (click)="navbarCollapsed = !navbarCollapsed"
      [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarTogglerDemo01" aria-expanded="false"
      aria-label="Toggle navigation">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-list" viewBox="0 0 16 16"
        class="navbar-toggler-icon">
        <path fill-rule="evenodd"
          d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
      </svg>
    </button>
    <div class="col-sm-8 navigation-elements">
      <ul class="navbar-nav collapse navbar-collapse row" [ngbCollapse]="navbarCollapsed" id="navbarTogglerDemo01">
        <li class="nav-item col-sm-3">
          <a routerLink="/home" class="navlink">
            <span class="navigation-number" style="font-weight: bold">00</span>
            <span class="navigation-text">HOME</span>
          </a>
        </li>
        <li class="nav-item col-sm-3">
          <a routerLink="/destination" class="navlink">
            <span class="navigation-number">01</span>
            <span class="navigation-text">DESTINATION</span>
          </a>
        </li>
        <li class="nav-item col-sm-3">
          <a href="#" class="navlink">
            <span class="navigation-number">02</span>
            <span class="navigation-text">CREW</span>
          </a>
        </li>
        <li class="nav-item col-sm-3">
          <a href="#" class="navlink">
            <span class="navigation-number">03</span>
            <span class="navigation-text">TECHNOLOGY</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- <nav class="group-3 navbar navbar-expand-lg ">
      <a routerLink="/home" class="navbar-brand">
        <img class="group-2" src="/assets/home/space_logo.svg" alt="Logo" />
      </a>
      <div class="overlap-group ">
        <div class="rectangle"></div>
        <div class="rectangle-1"></div>
        <ul class="group-17 ">
          <li class="group-2-copy-3 nav-item">
            <div class="number-1barlowcondensed-bold-white-16px">00</div>
            <div class="placebarlowcondensed-normal-white-16px">HOME</div>
          </li>
          <li class="group-2-1 nav-item">
            <div class="number-2barlowcondensed-bold-white-16px">01</div>
            <div class="destinationbarlowcondensed-normal-white-16px">
              DESTINATION
            </div>
          </li>
          <li class="group-2-copy nav-item">
            <div class="numberbarlowcondensed-bold-white-16px">02</div>
            <div class="crewbarlowcondensed-normal-white-16px">CREW</div>
          </li>
          <li class="group-2-copy-2 nav-item">
            <div class="numberbarlowcondensed-bold-white-16px">03</div>
            <div class="technologybarlowcondensed-normal-white-16px">
              TECHNOLOGY
            </div>
          </li>
        </ul>
      </div>
    </nav>
 -->
