/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bellefair:400|Barlow+Condensed:400,700|Barlow:400");
$primary-color: #0B0D17;
$secondary-primary-color: #616476;
$third-primary-color: #D0D6F9;
$white-color: #FFFFFF;
$black-color: #000000;
$primary-font: 'Bellefair', serif;
$secondary-font: 'Barlow Condensed', sans-serif;
$navbar-color:#808080;

body{
  background-color: #0B0D17 !important;
}

p {
  font-family: $secondary-font, serif;
  font-weight: 400;
  color: #ffffff;
}

h1 {
  font-family: $primary-font, serif;
  color: $white-color;
}

h3 {
  font-family: $secondary-font;
  color: $white-color;
}



/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
